---
permalink: /404.html
layout: default
---

<header class="u-p-2 u-p-3-md u-c-neon-1">
  <h1 class="u-ft-display u-ts-1 u-mt-12 u-mt-16-md u-mb-2">
    404
  </h1>
  <h2 class="u-ft-display u-fw-500 u-ts-4 u-mb-8 u-mt-2">
    Thank you {visitor_name}
    <br>
    But our page is in another link!
  </h2>
  <a class="c-button u-mb-8" href="{{'/' | absolute_url}}"  title="Go to homepage"><< Go to homepage</a>
</header>
<section class="grid">
  <div class="col-12 col-md-6">
    <div class="grid">
      <div class="col-6 u-bc-neon-3 u-cf-gray-1 u-pos-relative">
        <div class="c-shape-motion-crown">
          {% include shapes/crown.html %}
        </div>
        <div class="c-shape-motion-crown">
          {% include shapes/crown.html %}
        </div>
      </div>
      <div class="col-6 u-bc-gray-2 u-cf-gray-3">
        <div class="c-shape-motion-target">
          {% include shapes/target.html %}
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6">
    <div class="row row--nowrap">
      <div class="u-bc-neon-1 u-cf-gray-1 u-flex-2">
        <div class="c-shape-motion-wheel">
          {% include shapes/wheel.html %}
        </div>
      </div>
      <div class="u-bc-neon-2 u-cf-gray-1 u-flex-0_9">
        <div class="c-shape-motion-accordion">
          {% include shapes/accordion.html %}
        </div>
      </div>
    </div>
  </div>
</section>
