<footer class="c-footer">
  <p class="u-m-0 u-mb-1 u-mb-0-md">
    <span class="c-footer__description">Follow || Contact:</span>
    [<a class="c-footer__link" href="https://x.com/joaornmarques" target="_blank" title="Link to João's X profile">X</a>,
    <a class="c-footer__link" href="https://github.com/joaornmarques" target="_blank" title="Link to João's Github profile">Github</a>,
    <a class="c-footer__link" href="https://www.linkedin.com/in/joaornmarques/" target="_blank" title="Link to João's LinkedIn profile">Linkedin</a>]
  </p>
  <p class="u-m-0">
    by: 'João Marques . {{ "now" | date: "%Y" }}'
  </p>
</footer>