<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{'/assets/css/main.css' | absolute_url}}" />
  <title>{{ include.title_prepend }}{{ include.title }}</title>
  <meta content="{{ include.description }}" name="description">
  <meta content="{{ include.title_prepend }}{{ include.title }}" property="og:title">
  <meta content="{{ include.description }}" property="og:description">
  <meta content="https://joaomarques.website/assets/images/{{ include.thumbnail }}" property="og:image" name="image">
  <meta content="{{ include.title_prepend }}{{ include.title }}" property="twitter:title">
  <meta content="{{ include.description }}" property="twitter:description">
  <meta content="https://joaomarques.website/assets/images/{{ include.thumbnail }}" property="twitter:image">
  <meta content="summary_large_image" name="twitter:card">
  <meta property="og:type" content="website">
  <link href="/assets/images/{{ include.favicon_32 }}" rel="shortcut icon" type="image/x-icon">
  <link href="/assets/images/{{ include.favicon }}" rel="apple-touch-icon">
</head>