<nav class="c-navbar c-navbar--gray-3">
  <a href="{{'/' | absolute_url}}" title="joaomarques.website homepage" class="c-navbar__logo">
    {% include shapes/logo.html %}
  </a>
  <div class="c-navbar__menu">
    <a class="c-navbar__button" href="{{'/' | absolute_url}}" title="joaomarques.website homepage">joaomarques.website</a>
    <a class="c-navbar__button u-fw-700" href="{{'abxy' | absolute_url}}" title="ABXY homepage">/abxy</a>
  </div>
  <button
    onclick="window.scrollTo({top: 0, behavior: 'smooth'});"
    class="c-navbar__icon u-cf-gray-1"
    title="Go to top"
  >
    {% include shapes/target.html %}
  </button>
</nav>