/* ----------------
IMPORT FONTS
---------------- */

// Disket Mono

@font-face {
  font-family: Disket-Mono;
  src: url("../fonts/Disket-Mono-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Disket-Mono;
  src: url("../fonts/Disket-Mono-Regular.ttf");
  font-weight: 500;
  font-style: normal;
}

// Space Grotesk

@font-face {
  font-family: Space-Grotesk;
  src: url("../fonts/SpaceGrotesk-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

// Junicode

@font-face {
  font-family: Junicode;
  src: url("../fonts/JunicodeTwoBeta-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Junicode;
  src: url("../fonts/JunicodeTwoBeta-MediumItalic.ttf");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: Junicode;
  src: url("../fonts/JunicodeTwoBeta-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Junicode;
  src: url("../fonts/JunicodeTwoBeta-BoldItalic.ttf");
  font-weight: 700;
  font-style: italic;
}


/* ----------------
FONT DEFAULTS
---------------- */

body{
	font-family: 'Junicode', 'Times New Roman', serif;
	-moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: $neon-1;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Disket-Mono', Helvetica, sans-serif;
  font-weight: 700;
}

/* ----------------
FONT CLASSES
---------------- */

.f-disket {
  font-family: 'Disket-Mono', Helvetica, sans-serif;
}

.f-space {
  font-family: 'Space-Grotesk', Helvetica, sans-serif;
}

.f-junicode {
  font-family: 'Junicode', Helvetica, sans-serif;
}

.f-w-500 {
  font-weight: 500;
}

.f-w-700 {
  font-weight: 700;
}