/* ----------------
COLORS
---------------- */

.u-c-neon-1 { color: $neon-1; }
.u-c-neon-2 { color: $neon-2; }
.u-c-neon-3 { color: $neon-3; }
.u-c-gray-1 { color: $gray-1; }
.u-c-gray-2 { color: $gray-2; }
.u-c-gray-3 { color: $gray-3; }

.u-bc-neon-1 { background-color: $neon-1; }
.u-bc-neon-2 { background-color: $neon-2; }
.u-bc-neon-3 { background-color: $neon-3; }
.u-bc-gray-1 { background-color: $gray-1; }
.u-bc-gray-2 { background-color: $gray-2; }
.u-bc-gray-3 { background-color: $gray-3; }