<!doctype html>
<html lang="en" class="u-bc-neon-2">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{'/assets/css/main.css' | absolute_url}}" />
  </head>
  <body>
    {% include navbar-neon-2.html %}
    {{ content }}
    {% include footer.html %}
    <script type="text/javascript" src="{{'/assets/js/main.js' | absolute_url}}"></script>
  </body>
</html>